

# Reescritura de URLs
<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # No reescribir archivos o directorios que existen
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Reescribir todas las solicitudes a index.php
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>